@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Medium.woff") format("woff"), url("../fonts/Lato-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Semibold.woff") format("woff"), url("../fonts/Lato-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  font-display: swap;
  src: url("../fonts/Rubik-Regular.woff") format("woff"), url("../fonts/Rubik-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  font-display: swap;
  src: url("../fonts/Rubik-Bold.woff") format("woff"), url("../fonts/Rubik-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  font-display: swap;
  src: url("../fonts/Rubik-Medium.woff") format("woff"), url("../fonts/Rubik-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #1a212f;
  scroll-behavior: smooth;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.btn {
  padding: 12px 63px 14px 30px;
  font-weight: 600;
  font-size: 20px;
  background-color: #ff7236;
  color: #ffffff;
  border-radius: 25px;
  text-decoration: none;
  position: relative;
  margin-top: 50px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border: 1px solid transparent;
}

.btn:after {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: url("../img/paw-hero.svg");
  position: absolute;
  right: 6px;
  top: 7px;
}

.btn:hover {
  background-color: #ffffff;
  color: #ff7236;
  border: 1px solid #ff7236;
}

.btn__light {
  background-color: #ffffff;
  color: #1a212f;
}

.btn__light:after {
  background: url("../img/paw-hero.svg");
}

.btn__light:hover {
  background-color: #ff7236;
  color: #ffffff;
}

.modal__close {
  fill: #ff7236;
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
}

.no-scroll {
  overflow: hidden;
}

.section__title {
  font-family: Rubik, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  margin-top: 140px;
  margin-bottom: 65px;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: transparent;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 1;
}

.header__container {
  max-width: calc(1170px - 30px);
  margin: 0 auto;
  padding: 12px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 76px;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.header__logo img {
  max-width: 100%;
  display: block;
}

.header__nav--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

.header__nav--link {
  color: #1a212f;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.header__nav--link:hover {
  color: #ff7236;
}

.header__nav--link-mobile {
  color: #1a212f;
  text-decoration: none;
  font-family: Rubik;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.header__nav--item {
  list-style: none;
  margin-left: 20px;
}

.header__nav--mobile {
  display: none;
}

.header__nav--phone {
  font-family: Rubik;
  color: #1a212f;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.header__nav--social {
  margin-top: 25px;
}

.header__burger {
  display: none;
}

.hero {
  max-width: 1366px;
  margin: 0 auto;
  background-image: url("../img/hero-bg.jpg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 153px 198px;
}

.hero__city {
  font-size: 14px;
  font-weight: 400;
}

.hero__title {
  font-family: Rubik;
  font-weight: 700;
  font-size: 62px;
  margin: 0;
  margin-top: 5px;
  padding: 0;
}

.hero__description {
  font-weight: 500;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.features {
  overflow: hidden;
}

.features__container {
  max-width: 1170px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__pseudo {
  position: absolute;
  right: -50px;
  top: 25px;
  -webkit-transform: rotate(21deg);
      -ms-transform: rotate(21deg);
          transform: rotate(21deg);
}

.features__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features__item {
  width: 30%;
  padding: 30px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
          box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
  border-radius: 8px;
  z-index: 10;
  margin: 15px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.features__item:hover {
  -webkit-box-shadow: 0px 0px 15px rgba(8, 8, 8, 0.15);
          box-shadow: 0px 0px 15px rgba(8, 8, 8, 0.15);
}

.features__icon {
  margin-bottom: 35px;
}

.features__name {
  font-family: Rubik, sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 120%;
  margin-bottom: 20px;
}

.features__description {
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.slick-list {
  overflow: hidden;
  padding-bottom: 80px;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-arrow {
  position: absolute;
  bottom: 0;
  font-size: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.25);
          box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.25);
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.slick-arrow:hover {
  -webkit-box-shadow: 0px 2px 12px rgba(73, 52, 43, 0.35);
          box-shadow: 0px 2px 12px rgba(73, 52, 43, 0.35);
}

.slick-arrow.slick-prev {
  right: 46px;
  background-image: url("../img/prev.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffffff;
}

.slick-arrow.slick-next {
  right: 0;
  background-image: url("../img/next.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffffff;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 12px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slick-dots li {
  list-style: none;
  margin: 0 10px;
}

.slick-dots li.slick-active button {
  background-color: #fac663;
}

.slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #e1e1e1;
}

.rooms__container {
  position: relative;
}

.rooms__pseudo {
  position: absolute;
  top: 43px;
  left: 0;
  z-index: -10;
}

.rooms__inner {
  max-width: 1030px;
  margin: 0 auto;
  position: relative;
}

.rooms__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
}

.rooms__image {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.rooms__wrapper {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 40px 100px 55px;
  max-width: 500px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
          box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
}

.rooms__name {
  font-family: Rubik, sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 20px;
}

.rooms__list {
  padding-left: 20px;
  margin-bottom: 40px;
}

.rooms__list--item {
  font-family: Lato, sans-serif;
  font-size: 16px;
  line-height: 19px;
  list-style-image: url("../img/list-style.svg");
  margin-bottom: 10px;
}

.reviews {
  position: relative;
  overflow: hidden;
  padding-bottom: 40px;
}

.reviews__title {
  margin-top: 60px;
}

.reviews__inner {
  max-width: 1030px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
  position: relative;
}

.reviews__pseudo {
  position: absolute;
  top: 13px;
  right: 0;
  -webkit-transform: rotate(-38deg);
      -ms-transform: rotate(-38deg);
          transform: rotate(-38deg);
  z-index: -10;
}

.reviews__item {
  width: 100%;
  max-width: 470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 35px;
  padding-left: 70px;
  -webkit-box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
          box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
  border-radius: 8px;
  background-color: #ffffff;
  margin-right: 15px;
  margin-left: 15px;
  z-index: 10;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.reviews__item:hover {
  -webkit-box-shadow: 0px 0px 15px rgba(8, 8, 8, 0.15);
          box-shadow: 0px 0px 15px rgba(8, 8, 8, 0.15);
}

.reviews__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #1a212f;
  position: relative;
  margin-bottom: 20px;
}

.reviews__text::before {
  content: '';
  width: 27px;
  height: 50px;
  position: absolute;
  top: 5px;
  left: -35px;
  background: url("../img/cite.svg") right top no-repeat;
}

.reviews__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #848484;
}

.reviews__author .slick-track {
  padding-top: 20px;
  padding-left: 8px;
}

.contacts {
  max-width: 1366px;
  margin: 100px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #fac663;
  padding: 60px 0 0 198px;
}

.contacts__map {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 798px;
  height: 568px;
}

.contacts__title {
  font-family: Rubik, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  margin-bottom: 40px;
}

.contacts__subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 10px;
}

.contacts__content {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 25px;
}

.contacts__link {
  font-size: 16px;
  text-decoration: none;
  color: #1a212f;
}

.contacts__link:hover {
  text-decoration: underline;
}

.contacts__social--link {
  margin-right: 15px;
}

.contacts__social--link:hover {
  opacity: 0.7;
}

#map {
  width: 100%;
  height: 100%;
}

.footer__container {
  max-width: calc(1170px - 200px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

.footer__main {
  border-bottom: 1px solid #efefef;
}

.footer__nav--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.footer__nav--link {
  color: #1a212f;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.footer__nav--link:hover {
  color: #ff7236;
}

.footer__nav--item:not(:last-child) {
  margin-right: 20px;
}

.footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: calc(1170px - 200px);
  height: 50px;
  padding: 0 15px;
  margin: 0 auto;
}

.footer__copy,
.footer__privacy {
  color: #8f8f8f;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.footer__privacy {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.footer__privacy:hover {
  text-decoration: underline;
  cursor: pointer;
}

.rooms-catalog {
  max-width: 1170px;
  margin: 0 auto;
}

.rooms-catalog__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 130px 30px 0 15px;
}

.rooms-catalog__title {
  font-family: Rubik;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
}

.rooms-catalog__button {
  padding: 10px 20px;
  background-color: #ffffff;
  border-radius: 25px;
  -webkit-box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18);
          box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18);
}

.rooms-catalog__button--filter {
  display: none;
}

.rooms-catalog__button--filter img {
  margin-right: 5px;
}

.rooms-catalog__button--sort {
  margin-left: 30px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

.rooms-catalog__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 15px 0;
}

.rooms-catalog__filter {
  -ms-flex-preferred-size: 290px;
      flex-basis: 290px;
  background-color: #ffffff;
}

.rooms-catalog__inner {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.rooms-catalog__item {
  width: 31%;
  min-width: 270px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
          box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.rooms-catalog__item--inner {
  padding: 20px;
  width: 100%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid #e1e1e1;
  border-top: none;
}

.rooms-catalog__item--img {
  width: 100%;
}

.rooms-catalog__item--name {
  font-family: Rubik;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 15px;
}

.rooms-catalog__item--content {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 10px;
}

.rooms-catalog__item--price {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-left: 5px;
}

.rooms-catalog__item--button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  background-color: #ff7236;
  border-radius: 25px;
  padding: 14px 0;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border: 2px solid transparent;
  position: relative;
  margin-top: 20px;
}

.rooms-catalog__item--button::after {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  background: url("../img/paw-hero.svg");
  position: absolute;
  top: 3px;
  right: 5px;
}

.rooms-catalog__item--button:hover {
  color: #ff7236;
  background-color: #ffffff;
  border: 2px solid #ff7236;
}

.rooms-catalog__item:hover {
  -webkit-box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.65);
          box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.65);
}

.equipment {
  position: relative;
}

.equipment-icon {
  margin-left: 5px;
  vertical-align: middle;
}

.equipment-text {
  display: block;
  position: absolute;
  width: 126px;
  bottom: 30px;
  left: 50%;
  margin-left: -63px;
  margin-bottom: 15px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #fac663;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 12px rgba(173, 152, 143, 0.18);
          box-shadow: 0px 4px 12px rgba(173, 152, 143, 0.18);
  white-space: nowrap;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.equipment-text:before,
.equipment-text:after {
  content: "";
  position: absolute;
  bottom: -17px;
  left: 50%;
  margin-left: -4px;
  border: 8px solid transparent;
  border-top: 8px solid #fac663;
}

.equipment-text:after {
  border-top: 8px solid #ffffff;
  bottom: -16px;
}

.equipment:hover .equipment-text {
  opacity: 1;
  visibility: visible;
  margin-bottom: 0;
}

.rooms-form label {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-left: 5px;
}

.rooms-form__wrap {
  margin-bottom: 30px;
}

.rooms-form__title {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.rooms-form__inputs input:first-child {
  margin-right: 5px;
}

.rooms-form__row {
  margin-bottom: 15px;
}

.rooms-form__input {
  padding: 5px;
  width: 100px;
  height: 24px;
  border: 1px solid #e1e1e1;
}

.rooms-form__btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  padding: 10px 35px;
  border: 2px solid #fac663;
  background-color: #ffffff;
  border-radius: 25px;
}

.rooms-form__submit {
  width: 185px;
  background-color: #fac663;
  cursor: pointer;
}

.rooms-form__submit:hover {
  text-decoration: underline;
}

.rooms-form__reset {
  width: 185px;
  margin-top: 15px;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.rooms-form__reset:hover {
  background-color: #fac663;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid #e1e1e1;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.custom-checkbox:checked + label::before {
  background-image: url(../img/check.svg);
}

.custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #fac663;
}

.custom-checkbox:not(:disabled):active + label::before {
  border-color: #fac663;
  background-color: #fac663;
}

.custom-checkbox:disabled + label::before {
  background-color: #848484;
}

.sort {
  position: relative;
  display: inline-block;
}

.sort__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: 174px;
  -webkit-box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18);
          box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18);
  border-radius: 25px;
  padding: 12px 20px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.sort__header--active {
  opacity: 0;
}

.sort__icon {
  cursor-event: none;
  fill: #000;
}

.sort__body {
  width: 174px;
  -webkit-box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18);
          box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18);
  border-radius: 4px;
  background-color: #fff;
  padding: 12px 20px;
  display: none;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.sort__body--active {
  display: block;
  opacity: 1;
}

.sort__item {
  cursor: pointer;
}

.sort__item:not(:last-child) {
  margin-bottom: 25px;
}

.sort__item:hover {
  color: #ff7236;
}

.sort:hover .sort__icon {
  fill: #ff7236;
}

.banner {
  border-radius: 10px;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 270px;
  background-image: url("../img/banner-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.banner__title {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  margin-bottom: 25px;
}

.banner__title-big {
  font-size: 56px;
}

.banner__text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 35px;
}

@media (max-width: 1265px) {
  .contacts__text {
    padding-left: 45px;
    padding-bottom: 60px;
  }
}

@media (max-width: 1170px) {
  .rooms-catalog__item {
    width: 49%;
  }
}

@media (max-width: 1150px) {
  .contacts__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .contacts__map {
    width: 50%;
  }
}

@media (max-width: 991px) {
  .btn {
    font-size: 16px;
  }

  .btn:after {
    top: 3px;
  }

  .container {
    padding-left: 45px;
    padding-right: 45px;
  }

  .section__title {
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .hero {
    background-image: url("../img/hero-bg-tablet.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 530px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .hero__btn {
    margin-top: 0;
  }

  .hero__description {
    text-align: center;
  }

  .features__pseudo {
    width: 60%;
  }

  .features__item {
    width: 45%;
  }

  .features__icon {
    -webkit-transform: scale(0.8333);
        -ms-transform: scale(0.8333);
            transform: scale(0.8333);
    margin-bottom: 0;
  }

  .rooms__image {
    width: 80%;
  }
}

@media (max-width: 914px) {
  .rooms-catalog__wrap--active:before {
    content: '';
    display: block;
    background-color: #rgba #ffffff, 0.5;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 51;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    overflow: scroll;
  }

  .rooms-catalog__filter {
    display: none;
    position: absolute;
    top: 80px;
    right: 0;
    left: 0;
    padding: 30px;
    width: 332px;
    margin: 0 auto;
    z-index: 52;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.65);
            box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.65);
  }

  .rooms-catalog__filter--active {
    display: block;
  }

  .rooms-catalog__inner {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }

  .rooms-catalog__button--filter {
    display: inline-block;
    margin-right: 30px;
  }

  __buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: stretch;
        align-self: stretch;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 30px;
  }

  .banner {
    max-width: 678px;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 50px;
    background-image: url("../img/banner-tablet.jpg");
  }
}

@media (max-width: 889px) {
  .rooms__wrapper {
    padding: 40px;
  }
}

@media (max-width: 839px) {
  .reviews__author {
    display: none;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }

  .section__title {
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 28px;
  }

  .features__item {
    width: 100%;
    padding: 10px 25px 25px;
    margin: 0;
  }

  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .features__pseudo {
    width: 40%;
  }

  .features__icon {
    -webkit-transform: scale(0.6666);
        -ms-transform: scale(0.6666);
            transform: scale(0.6666);
  }

  .features__name {
    font-size: 18px;
  }

  .features__description {
    font-size: 15px;
  }

  .rooms__pseudo {
    -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
            transform: scale(0.5);
    left: -100px;
  }

  .rooms__slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .rooms__wrapper {
    position: static;
    max-width: 100%;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }

  .rooms__image {
    width: 100%;
  }

  .reviews {
    padding-left: 15px;
    padding-right: 15px;
  }

  .reviews__pseudo {
    width: 40%;
  }

  .reviews__item {
    max-width: 100%;
    width: 100%;
    margin-left: 0;
  }

  .footer__logo {
    width: 46px;
  }

  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .footer__nav--list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__nav--item {
    width: 40%;
    margin-top: 20px;
  }

  .footer__text {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 15px;
    padding-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__privacy {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contacts__map {
    width: 100vw;
    height: 100vw;
  }

  .contacts__text {
    padding: 40px 15px;
  }
}

@media (max-width: 605px) {
  .rooms-catalog__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .rooms-catalog__item {
    width: 100%;
  }

  .banner {
    background-image: url("../img/banner-mobile.jpg");
    max-width: 290px;
    padding-left: 0;
    padding-top: 50px;
    padding-bottom: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .banner__title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 20px;
  }

  .banner__title-big {
    font-size: 37px;
  }

  .banner__text {
    text-align: center;
    margin-bottom: 0px;
  }

  .btn {
    margin-top: 30px;
  }
}

@media (max-width: 500px) {
  body.lock {
    overflow: hidden;
  }

  .header {
    position: fixed;
  }

  .header__container {
    height: 62px;
  }

  .header__logo {
    width: 46px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }

  .header__burger span {
    background-color: #1a212f;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
  }

  .header__burger:before,
  .header__burger:after {
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    content: '';
    background-color: #1a212f;
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__nav {
    display: none;
  }

  .header__nav--mobile {
    display: block;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #fac663;
    padding: 70px 10px 20px 10px;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    z-index: 2;
  }

  .header__nav--mobile.active {
    top: 0;
  }

  .header__nav--list {
    display: block;
  }

  .header__nav--item {
    margin: 0 0 20px 0;
  }

  .header.is_hide {
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
  }

  .hero {
    padding-top: 115px;
    padding-bottom: 200px;
  }

  .hero__city {
    font-size: 12px;
  }

  .hero__title {
    font-size: 44px;
  }

  .hero__description {
    font-size: 16px;
  }

  .rooms-catalog__header {
    padding-top: 80px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .rooms-catalog__title {
    font-size: 28px;
    line-height: 33px;
  }

  .rooms-catalog__buttons {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .rooms-catalog__button {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }

  .rooms-catalog__button--filter {
    margin-right: 0;
  }

  .sort__header {
    width: 150px;
  }
}