.contacts {
  max-width: $full-width-desktop;
  margin: 100px auto 0;
  display: flex;
  &__text {
    flex-grow: 1;
    background-color: $secondary;
    padding: 60px 0 0 198px;
  }
  &__map {
    flex-shrink: 0;
    width: 798px;
    height: 568px;
  }
  &__title {
    font-family: Rubik, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 40px;
  }
  &__subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
  }
  &__content {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 25px;
  }
  &__link {
    font-size: 16px;
    text-decoration: none;
    color: $text;
    &:hover {
      text-decoration: underline;
    }
  }
  &__social {
    &--link {
      margin-right: 15px;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
#map {
  width: 100%;
  height: 100%;
}
@media (max-width: 1150px) {
  .contacts {
    &__text {
      flex: 0 0 50%;
    }
    &__map {
      width: 50%;
    }
  }
}
@media (max-width: 1265px) {
  .contacts {
    &__text {
      padding-left: 45px;
      padding-bottom: 60px;
    }
  }
}
@media (max-width: 768px) {
  .contacts {
    flex-direction: column;
    &__map {
      width: 100vw;
      height: 100vw;
    }
    &__text {
      padding: 40px 15px;
    }
  }
}
