.hero {
  max-width: $full-width-desktop;
  margin: 0 auto;
  background-image: url("../img/hero-bg.jpg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 153px 198px;
  &__city {
    font-size: 14px;
    font-weight: 400;
  }
  &__title {
    font-family: Rubik;
    font-weight: 700;
    font-size: 62px;
    margin: 0;
    margin-top: 5px;
    padding: 0;
  }
  &__description {
    font-weight: 500;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 50px;
  }
  
}
@media (max-width: 991px) {
  .hero {
    background-image: url("../img/hero-bg-tablet.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 530px;
    padding-left: 15px;
    padding-right: 15px;
    &__btn {
      margin-top: 0;
    }
    &__description {
      text-align: center;
    }
  }
}
@media (max-width: 500px) {
  .hero {
    padding-top: 115px;
    padding-bottom: 200px;
    &__city {
      font-size: 12px;
    }
    &__title {
      font-size: 44px;
    }
    &__description {
      font-size: 16px;
    }
  }
}
