.reviews__inner {
  position: relative;
  padding-bottom: 80px;
  /* Слайдер */
  & .slick-slider {
  }
  /* Слайдер запущен */
  & .slick-slider.slick-initialized {
  }
  /* Слайдер с точками */
  & .slick-slider.slick-dotted {
  }
  /* Ограничивающая оболочка */
  & .slick-list {
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
  }
  /* Лента слайдов */
  & .slick-track {
    display: flex;
  }
  /* Слайд */
  & .slick-slide {
  }
  /* Слайд активный (показывается) */
  & .slick-slide.slick-active {
  }
  /* Слайд основной */
  & .slick-slide.slick-current {
  }
  /* Слайд по центру */
  & .slick-slide.slick-center {
  }
  /* Клонированный слайд */
  & .slick-slide.slick-cloned {
  }
  /* Стрелка */
  & .slick-arrow {
    position: absolute;
    bottom: 0;
    font-size: 0;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.25);
    transition: all 0.2s linear;
    &:hover {
      box-shadow: 0px 2px 12px rgba(73, 52, 43, 0.35);
    }
  }
  /* Стрелка влево */
  & .slick-arrow.slick-prev {
    right: 46px;
    background: url('../img/prev.svg') center no-repeat, #fff;
  }
  /* Стрелка вправо */
  & .slick-arrow.slick-next {
    right: 0;
    background: url('../img/next.svg') center no-repeat, #fff;
  }
  /* Стрелка не активная */
  & .slick-arrow.slick-disabled {
  }
  /* Точки (булиты) */
  & .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
  }
  & .slick-dots li {
    list-style: none;
    margin: 0 10px;
  }
  /* Активная точка */
  & .slick-dots li.slick-active button {
    background-color: $secondary;
  }
  /* Элемент точки */
  & .slick-dots li button {
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $unactive-dot;
  }
}
