.reviews {
  position: relative;
  overflow: hidden;
  padding-bottom: 40px;
  &__title {
    margin-top: 60px;
  }
  &__inner {
    max-width: $max-slider-width;
    margin: 0 auto;
    display: flex;
    min-width: 0;
    position: relative;
    // padding-bottom: 80px;
  }
  &__pseudo {
    position: absolute;
    top: 13px;
    right: 0;
    transform: rotate(-38deg);
    z-index: -10;
  }
  &__item {
    width: 100%;
    max-width: 470px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 35px;
    padding-left: 70px;
    box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
    border-radius: 8px;
    background-color: $white;
    margin-right: 15px;
    margin-left: 15px;
    z-index: 10;
    transition: all 0.2s linear;

    &:hover {
      box-shadow: 0px 0px 15px rgba(8, 8, 8, 0.15);
    }
  }
  &__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: $text;
    position: relative;
    margin-bottom: 20px;
    &::before {
      content: '';
      width: 27px;
      height: 50px;
      position: absolute;
      top: 5px;
      left: -35px;
      background: url('../img/cite.svg') right top no-repeat;
    }
  }
  &__author {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $text-author;
  }
}
@media (max-width: 768px) {
  .reviews {
    padding-left: 15px;
    padding-right: 15px;
    &__pseudo {
      width: 40%;
    }
    &__item {
      max-width: 100%;
      width: 100%;
      margin-left: 0;
    }
  }
}
