.room {
  padding-top: 146px;
  position: relative;
  overflow: hidden;

  &__container {
    display: flex;
  }

  &__slider {
    display: flex;
    flex-basis: 50%;

    &--column {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &--item {
      border-radius: 4px;
      opacity: 0.5;
      height: 30%;
      object-fit: cover;

      &:hover {
        opacity: 1;
      }
    }

    &--main {
      padding-left: 30px;

      & img {
        border-radius: 8px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__paw {
    position: absolute;
    right: calc(50% - 800px);
    transform: rotate(-135deg);
  }

  &__description {
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 50%;
  }

  &__title {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    display: flex;
    align-items: center;
    color: #1A212F;

    margin-bottom: 40px;
  }

  &__list {
    &--item {
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  &__equipment {
    padding-top: 20px; 
    
    &--item {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
    }

    &--icon {
      margin-right: 8px;
    }
  }

  &__price {
    font-size: 18px;
    line-height: 22px;
    margin-left: 12px;
  }

  &__btn {
    width: 206px;
    margin-top: 5px;

    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    cursor: pointer;
  }
}

@media (max-width: 991px) {
  .room {
    padding-top: 136px;
    &__slider {
      flex-direction: column-reverse;

      &--column {
        flex-direction: row;
      }

      &--item {
        height: 100%;
        width: 30%;
      }

      &--main {
        padding-left: 0;
        padding-bottom: 20px;
        height: 100%;

        & img {
        }
      }
    }

    &__description {
      padding-left: 60px;
    }

    &__title {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 768px) {
  .room {
    padding-top: 100px;

    &__container {
      flex-direction: column;
    }

    &__description {
      padding-left: 0;
      padding-top: 40px;
    }

    &__btn {
      width: 100%;
      text-align: center;
    }
  }
}