$main: #ff7236;
$secondary: #fac663;
$text: #1a212f;
$subtext: #141312;
$white: #ffffff;
$text-author: #848484;
$footer-privacy: #8f8f8f;
$footer-border: #efefef;
$unactive-dot: #e1e1e1;

$full-width-desktop: 1366px;
$desktop-container: 1200px;
$max-slider-width: 1030px;
